@font-face {
    font-family: 'Mido Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Mido Medium'), url('https://iodswknd.github.io/fonts/Mido.woff') format('woff');
}

html {
    font-family: "Montserrat";
    box-sizing: border-box;
    width: fit-content;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Mido Medium";
}

#page1, #page2 {
    padding: 1.5rem;
    /*width: 100%;*/
}

p {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.user-input {
    font-family: "Architects Daughter";
    font-size: large;
}

.photo {
    width: 70%;
    top: 0;
    right: 0;
    margin: auto;
}

img {
    width: 100%;
}

.box {
	width: 100%;
	border: 1px solid black;
	display: inline-block;
	position: relative;
    background-image: url(../images/cross.png);
    background-clip: padding-box;
    background-size: 90%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-box {
    width: 100%;
    height: 55%;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    display: inline-block;
    position: relative;
    /*background-image: linear-gradient(180deg, 
        rgba(0,0,0,0) calc(50% - 1px), 
        rgba(0,0,0,1) calc(50%), 
        rgba(0,0,0,0) calc(50% + 1px)
    );*/
}

.slider-line {
    background: #000;
    height: 1px;
    width: 100%;
    display: inherit;
    margin-top: .8rem;
}

.box .dummy {
	margin-top: 100%;
}

.box .label {
    position: absolute;
    display: table-cell;
    vertical-align: bottom;
    max-width: 30%;
    padding: .2em;
    padding-top: 0;
    background: white;
}

.box .top {
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 45%;
}

.box .bottom {
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 45%;
}

.box .left {
    left: 0;
    top: 51%;
}

.box .right {
    text-align: right;
    right: 0;
    top: 51%;
}

/* Grid styles */
.grid-container {
    display: grid;
    align-items: center;
}

.grid-item {
    text-align: center;
}

.grid-3-column {
    grid-template-areas: "a c b";
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.grid-4-column {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.grid-2-column {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.no-row-gap {
    row-gap: 0;
}


#charts1 {
    grid-area: a;
}

#charts2 {
    grid-area: b;
}

#check {
    grid-area: c;
}

#info2 {
    padding-top: 2rem;
}

.slider-container{
    display: inline-grid;
    grid-template-areas: "l r"
                             "s s"
                             "s s";
    width: 100%;
    column-gap: 2rem;
    align-items: center;
    height: 5.5rem;
    max-width: 1280px;
}

#label1 {
    text-align:left !important;
}
#label2 {
    text-align:right !important;
}

#label1 {
    grid-area: l;
}

#slider {
    grid-area: s;
}

#label2 {
    grid-area: r;
}

.check-item {
    display: inline-grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    column-gap: 1.2rem;
    align-items: center;
    margin: .6rem 0;
}

.check-item > span {
    text-align:right;
}

.topic-check {
    display: inline-grid;
    column-gap: 2rem;
    width: 100%;
}

/* input styles */
.nicknames {
    padding: 0 1rem 1rem 0;
}
.nicknames input, .nicknames label {
    display: inline-block;
    text-align: center;
}

.nicknames input {
    background-color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #1c1c1c;
    /*caret-color: transparent;*/
    /*border: 0;*/
}

.nicknames input:focus-visible {
    outline: none;
    caret-color: black;
}

/* Checkbox styles */

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

.checkbox > span {
    color: #34495E;
    /*padding: 0.5rem 0.25rem;*/
}

span.cb {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    /*border-radius: 4px;*/
    outline: none;
    /*background-color: #41B883;*/
    cursor: pointer;
    margin-left: .5rem;
  }

.cb.on {
    /*border: 1px solid #41B883;*/
    /*background-color: #34495E;*/
}

.cb.on#iwa {
    /*content: 'url(images/green-heart.png)';*/
    background-image: url(../images/green-heart.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.cb.on#oi {
    /*content: 'url(images/green-heart.png)';*/
    background-image: url(../images/blue-heart.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.cb.on#dai{
    /*content: 'url(images/green-heart.png)';*/
    background-image: url(../images/red-heart.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.cb.on#suga{
    /*content: 'url(images/green-heart.png)';*/
    background-image: url(../images/yellow-heart.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}



/* test draggable */

#draggable {
    position: absolute;
    min-width: 20px;
    z-index: 99;
    cursor: move;
}

#draggable.slide {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    z-index: 99;
    cursor: move;
    top:0;
    bottom:0;
    margin:auto;
}

#draggable.free{
    /*top: 42%;
    left: 42%;*/
    width: 17%;
}


/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#screenshot1Img, #screenshot2Img{
    width: 100% !important;
    height: auto !important;
}

#myBtn {
    padding: 1rem;
    position: sticky;
    bottom: 1rem;
    float: right;
    margin-right: 1rem;
    z-index: 99;
    width: 30px;
    height: 30px;
    background: #82d8c7 url(../images/screenshot.png) no-repeat center;
    background-size: 70%;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease .5s;
}

#myBtn:hover {
    background-color: #1c1c1c;
}

.header h2 {
    margin-bottom: 3rem;
}

.footer h2 {
    text-align: right;
    margin-top: 3rem;
}

.header h2 mark {
    background: #fefefe;
    padding-right: .8rem;
}

.footer h2 mark {
    background: #fefefe;
    padding-left: .8rem;
    font-style: italic;
}

.header h2::after, .footer h2::after {
    content: "";
    display: block;
    width: calc(100% - 200px);
    height: 2px;
    background: #1c1c1c;
    position: relative;
    z-index: -2;
}

.header h2::after {
    left: 200px;
    top: -0.7rem;
}

.footer h2::after {
    /*right: 200px;*/
    top: calc(-1.5rem - 4px);
}

h2 small {
    font-size: small;
}


.color-green {
    color: #61b069;
}

.color-blue {
    color: #82d8c7;
}

.color-red {
    color: #d66868;
}

.color-yellow {
    color: #f7cf64;
}